.pokeCard:hover {
  box-shadow: 12px 18px #607c8a !important;
  transition: box-shadow 1.2s;
}
* {
  background-color: transparent !important;
}
.pokeCard {
  background-color: white !important;
}
html {
  background-image: url("https://d.facdn.net/art/giovannicotonecoda/1405291602/1405291602.giovannicotonecoda_pokeballwallpaper_dt.png");
}
h1 {
  color: white;
}
/* .pokeCard:hover .pokeImage {
  width: 30vw;
  position: absolute;
  height: auto;
} */
